#app {

    color: black !important;
}


#my-form {
    background-color: #fafbef;
    padding: 15px;
    margin-bottom: 1rem;
}

#my-form fieldset {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#message {
    width: 90%;
    max-width: 90%;
}

label {
    color: #d50505;
    vertical-align: top;
}

input[type=text],
input[type=email],
input[type=tel] {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
    background-color: inherit;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

textarea {
    padding-left: 0.5rem;

}



.req-field {
    border-bottom: 2px solid #d50505 !important;
}

textarea.req-field {
    border: 2px solid #d50505 !important;
}